.wrapper {
  display: flex;
}

.text-title {
  font-weight: 700;
  color: $title-color;
  font-size: 18px;
}

.text-paragraph {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.col {
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.d-flex {
  display: flex;
}
