.wrapper {
  .wrapper-sideBar {
    background-color: $sideBar-color;
    color: $grey-color;
    min-width: $sideBar-width-default;
    .sideBar__list {
      .sideBar__list-item {
        padding-top: 14px;
        padding-bottom: 12px;
        padding-left: 16px;
        transition: 0.2s all ease-in-out;
        font-size: 16px;
        color: $grey-color;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        line-height: 19px;
        &.active {
          color: $white-color;
        }
        &:hover {
          background-color: $hover-color;
          color: $white-color;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 414px) {
  .wrapper {
    .wrapper-sideBar {
      position: fixed;
      width: 100%;
      top: 0%;
      left: 0;
      right: 0;
      z-index: 999;
      .sideBar__list {
        display: flex;
        justify-content: space-between;
        .sideBar__list-item {
          // display: inline-block;
          border-bottom: none;
          padding: 14px 16px;
        }
      }
    }
  }
}
