$title-color: #000000;
$text-color: #000000;
$sideBar-color: #191718;
$grey-color: #aaaaaa;
$white-color: #ffffff;
$hover-color: #5c5c5c;
$hero-background-color: #efefef;
$border-color: #5c5c5c;
$footer-color: #3e3e3e;

$sideBar-width-default: 150px;
$width-content-for-PC-high-solution: 1510px;
$width-content-for-PC-low-solution: 1000px;
$width-content-for-tablet: 550px;
$width-content-for-Mobile: 336px;
$padding-hero-for-PC-low-solution: 38px 100px;
