<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Content/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-sideBar">
        <ul class="sideBar__list">
          <li class="sideBar__list-item text-title active">Home</li>
          <li class="sideBar__list-item text-title">Services</li>
          <li class="sideBar__list-item text-title">News</li>
          <li class="sideBar__list-item text-title">Blog</li>
          <li class="sideBar__list-item text-title">Contact</li>
        </ul>
      </div>
      <div class="wrapper-content">
        <div class="container">
          <div class="logo">
            <a href="#" class="logo-link">
              <img
                class="logo-img"
                src="../Content/image/logoNCC 1.svg"
                alt=""
              />
            </a>
          </div>
          <div class="hero">
            <h3 class="text-title hero-title">Lorem ipsum dolor sit asmet?</h3>
            <p class="text-paragraph hero-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              tristique consequat placerat. Vestibulum auctor pellentesque sem,
              eu posuere erat hendrerit quis. Maecenas vel consequat turpis. Nam
              facilisis, ligula in mattis sodales, augue justo tristique nulla,
              sed lacinia ante eros ut mi. Morbi vitae diam augue. Aliquam vel
              mauris a nibh auctor commodo. Praesent et nisi eu justo eleifend
              convallis. Quisque suscipit maximus vestibulum. Phasellus congue
              mollis orci, sit amet luctus augue tristique eu. Donec vulputate
              odio neque, sed semper turpis pellentesque a.
            </p>
          </div>
          <div class="row mainContent"></div>
        </div>
        <div class="wrapper-footer">
          <div class="container footer-container">
            <p class="footer__desc text-paragraph">Copyright © 2021</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../Content/js/index.js"></script>
  </body>
</html>
