@keyframes showUp {
  from {
    transform: translateY(30px);
    opacity: 0.2;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes toRight {
  from {
    transform: translateX(-30px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes toLeft {
  from {
    transform: translateX(30px);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.text-title {
  font-weight: 700;
  color: #000000;
  font-size: 18px;
}

.text-paragraph {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.col {
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.d-flex {
  display: flex;
}

@media (max-width: 414px) {
  .text-title {
    font-weight: 700;
    color: #000000;
    font-size: 14px;
  }
  .text-paragraph {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
  }
  .row {
    margin-left: -9px;
    margin-right: -9px;
  }
  .col {
    padding-left: 9px;
    padding-right: 9px;
  }
}
@media (max-width: 768px) {
  .text-title {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
  }
  .text-paragraph {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
  }
  .row {
    margin-left: -9px;
    margin-right: -9px;
  }
  .col {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.wrapper .wrapper-sideBar {
  background-color: #191718;
  color: #aaaaaa;
  min-width: 150px;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 16px;
  transition: 0.2s all ease-in-out;
  font-size: 16px;
  color: #aaaaaa;
  border-bottom: 1px solid #5c5c5c;
  cursor: pointer;
  visibility: hidden;
  animation: showUp 1s forwards;
  line-height: 19px;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item:nth-child(2) {
  animation-delay: 0.4s;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item:nth-child(3) {
  animation-delay: 0.8s;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item:nth-child(4) {
  animation-delay: 1.2s;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item:nth-child(5) {
  animation-delay: 1.6s;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item.active {
  color: #ffffff;
}
.wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item:hover {
  background-color: #5c5c5c;
  color: #ffffff;
}

@media (max-width: 414px) {
  .wrapper .wrapper-sideBar {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .wrapper .wrapper-sideBar .sideBar__list {
    display: flex;
    justify-content: space-between;
  }
  .wrapper .wrapper-sideBar .sideBar__list .sideBar__list-item {
    border-bottom: none;
    padding: 12px;
  }
}
.wrapper .wrapper-content {
  width: 100%;
}
.wrapper .wrapper-content .container {
  width: 1000px;
  margin: 20px auto 0;
}
.wrapper .wrapper-content .container .logo {
  text-align: center;
  margin-bottom: 30px;
  animation: toRight 1s forwards;
  animation-delay: 1.6s;
  visibility: hidden;
}
.wrapper .wrapper-content .container .hero {
  background-color: #efefef;
  padding: 38px 100px;
  text-align: center;
  margin-bottom: 40px;
  animation: toLeft 1s forwards;
  animation-delay: 2s;
  visibility: hidden;
}
.wrapper .wrapper-content .container .hero .hero-title {
  margin-bottom: 18px;
  line-height: 21px;
}
.wrapper .wrapper-content .container .hero .hero-desc {
  line-height: 19px;
}
.wrapper .wrapper-content .container .mainContent .col:nth-child(1) {
  animation: toRight 1s forwards;
  animation-delay: 2.4s;
  visibility: hidden;
}
.wrapper .wrapper-content .container .mainContent .col:nth-child(2) {
  animation: showUp 1s forwards;
  animation-delay: 2.8s;
  visibility: hidden;
}
.wrapper .wrapper-content .container .mainContent .col:nth-child(3) {
  animation: toLeft 1s forwards;
  animation-delay: 3.2s;
  visibility: hidden;
}
.wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-title {
  margin-bottom: 18px;
}
.wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-desc .mainContent__item-img {
  margin-right: 16px;
  width: 128px;
  height: 128px;
}
@media (max-width: 426px) {
  .wrapper .wrapper-content {
    margin-top: 50px;
  }
  .wrapper .wrapper-content .container {
    width: 336px;
  }
  .wrapper .wrapper-content .container .logo .logo-link .logo-img {
    width: 288px;
    height: 100px;
  }
  .wrapper .wrapper-content .container .hero {
    padding: 38px 50px;
  }
  .wrapper .wrapper-content .container .hero .hero-desc {
    text-align: justify;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-title {
    font-size: 14px;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-paragraph {
    font-size: 12px;
    text-align: start;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-desc .mainContent__item-img {
    width: 50px;
    height: 50px;
    margin-right: 2px;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-desc .mainContent__item-paragraph {
    font-size: 12px;
    text-align: start;
  }
}
@media (max-width: 1023px) {
  .wrapper .wrapper-content .container {
    width: 550px;
  }
  .wrapper .wrapper-content .container .hero {
    padding: 38px 50px;
  }
  .wrapper .wrapper-content .container .hero .hero-desc {
    text-align: justify;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-title {
    font-size: 14px;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-paragraph {
    text-align: start;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-desc .mainContent__item-img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  .wrapper .wrapper-content .container .mainContent .mainContent__item .mainContent__item-desc .mainContent__item-paragraph {
    text-align: start;
  }
}
@media (min-width: 1700px) {
  .wrapper .wrapper-content {
    margin-top: 50px;
  }
  .wrapper .wrapper-content .container {
    width: 1510px;
  }
}
.wrapper .wrapper-content .wrapper-footer {
  margin-top: 182px;
  border-top: 1px solid #dedede;
}
.wrapper .wrapper-content .wrapper-footer .container.footer-container {
  margin-top: 0;
}
.wrapper .wrapper-content .wrapper-footer .container .footer__desc {
  padding: 30px 0;
  color: #3e3e3e;
}

/*# sourceMappingURL=main.css.map */
